<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>明德幼儿园积分管理系统-我的信息</title>
  <link rel="stylesheet" href="/static/kindergarten/css/index.css">
  <script type="text/javascript" src="/static/kindergarten/js/jquery-1.7.2.min.js"></script>
</head>
<body>
<link rel="stylesheet" href="/static/kindergarten/css/index.css">
<script type="text/javascript" src="/static/kindergarten/js/jquery-1.7.2.min.js"></script>

<!-- pc端头部 begin -->
<div class="header_pc">
	<div class="hdIn">
		<div class="logo"><img src="/static/kindergarten/images/logo_pc.png" alt="" width="100"></div>
		<div class="hdright">
			<ul>
				<li class="home"><a href="./?c=index" target='right'>首页</a></li>
				<li class="home">欢迎您！河北省唐山市丰润区悦城明德幼儿园 王秀红</li>
				<li><a href="{:url('touppwd')}" target='right'>修改密码</a></li>
				<li><a href="./?c=index&a=logout" target='right'>退出</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- pc端头部 end -->


<!-- 移动端头部 begin -->
<div class="header_yidong">
	<a href="#" class="hyd_l"><img src="/static/kindergarten/images/logo_yd.png" alt=""></a>
	<a href="#" class="hyd_r"><img src="/static/kindergarten/images/logoyd_r.png" alt=""></a>

</div>
<!-- 移动端头部 end -->
    
    <div class="xinxi">
        <div class="listBtn">
            <h4>个人信息</h4>
            <a href="javascript:history.go(-1);" class="add">返回</a>
            <a href="{:url('touppwd')}" class="add">修改密码</a>
        </div>
        <!-- 这是在PC端显示的 -->
        <table class="studentMsgTable" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td class="tdRight">姓名：</td>
                    <td>王秀红</td>
                    <td class="tdRight">性别：</td>
                    <td>女</td>
                </tr>
                <tr>
                    <td class="tdRight">学历：</td>
                    <td>大专</td>
                    <td class="tdRight">婚姻：</td>
                    <td>已婚</td>
                </tr>
                <tr>
                    <td class="tdRight">资格证：</td>
                    <td>    
                                            教师资格证
                                        </td>
                    <td class="tdRight">职务：</td>
                    <td>执行园长</td>
                </tr>
                <tr>
                    <td class="tdRight">出生日期：</td>
                    <td>1972/03/10</td>
                    <td class="tdRight">联系电话：</td>
                    <td>17713140443</td>
                </tr>
                <tr>
                    <td class="tdRight">入职时间：</td>
                    <td>2015/03/15</td>
                    <td class="tdRight">上次登录时间：</td>
                    <td>2017/05/22 15:09</td>
                </tr>
                <tr>
                    <td class="tdRight">特长：</td>
                    <td></td>
                    <td class="tdRight">积分总数：</td>
                    <td>1200</td>
                </tr>
            </tbody>
        </table>
        <!-- 这是在web端显示的 -->
        <div class="webxinx"><br/>
            <div class="webxx">
                <span class="spanRight">姓名：</span>
                <span>王秀红</span>
            </div>
            <div class="webxx">
                <span class="spanRight">性别：</span>
                <span>女</span>
            </div>
            <div class="webxx">
                <span class="spanRight">婚姻：</span>
                <span>已婚</span>
            </div>
            <div class="webxx">
                <span class="spanRight">学历：</span>
                <span>大专</span>
            </div>
            <div class="webxx">
                <span class="spanRight">资格证：</span>
                <span>
                                    教师资格证
                                </span>
            </div>
            <div class="webxx">
                <span class="spanRight">职务：</span>
                <span>执行园长</span>
            </div>
            <div class="webxx">
                <span class="spanRight">出生日期：</span>
                <span>1972/03/10</span>
            </div>
            <div class="webxx">
                <span class="spanRight">联系电话：</span>
                <span>17713140443</span>
            </div>
            <div class="webxx">
                <span class="spanRight">入职时间：</span>
                <span>2015/03/15</span>
            </div>
            <div class="webxx">
                <span class="spanRight">特长：</span>
                <span></span>
            </div>
            <div class="webxx">
                <span class="spanRight">积分总数：</span>
                <span>1200</span>
            </div>
            <div class="webxx">
                <span class="spanRight">上次登录时间：</span>
                <span>2017/05/22 15:09</span>
            </div>

        </div>
    </div>
    <!--手机版的底部 begin-->
<div class="web">
    <div class="webIn">
        <ul>
            <li>
                <a href="./?c=index">
                    <img src="/static/kindergarten/images/nav_01_h.png" alt="">
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="./?c=ranking&a=ranking">
                    <img src="/static/kindergarten/images/nav_02_h.png" alt="">
                    <p>月度排行</p>
                </a>
            </li>
            <li>
                <a href="./?c=index&a=userlist">
                    <img src="/static/kindergarten/images/nav_03_h.png" alt="" >
                    <p>员工名单</p>
                </a>
            </li>
            <li>
                <a href="./?c=index&a=userinfo">
                    <img src="/static/kindergarten/images/nav_04_h.png" alt="" >
                    <p>个人信息</p>
                </a>
            </li>
            <li>
                <a href="./?c=index&a=logout">
                    <img src="/static/kindergarten/images/nav_05_h.png" alt="" >
                    <p>退出</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--手机版的底部 end-->

<!-- 版权 -->
<div id="bb" style="text-align:center;">
©1guanli.com 版权所有  京ICP备13049583号-6
</div>

<!--cnzz统计代码-->
<div style="display:none">
<script src="https://s4.cnzz.com/z_stat.php?id=1260562880&web_id=1260562880" language="JavaScript"></script>
</div>
<!--cnzz统计代码-->

<!--禁止查看源代码-->
<script> 
document.oncontextmenu=new Function("return false"); 
//document.onselectstart=new Function("return false"); 
event.ctrlKey = new Function("return false;");

//手机监听键盘事件
<!-- 
//平台、设备和操作系统
var system ={
win : false,
mac : false,
xll : false
};
//检测平台
var p = navigator.platform;
system.win = p.indexOf("Win") == 0;
system.mac = p.indexOf("Mac") == 0;
system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
//跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
if(system.win||system.mac||system.xll){
    
}else{
    var oldHeight = document.body.scrollHeight; 
    $(window).resize(function(){
        var newHeight = document.body.scrollHeight; 
        if(oldHeight<600 && newHeight<600)
        {
            if(oldHeight==newHeight)
            {
                $('.web').show();
            }
            else{
                $('.web').hide();
            }  
        }
    });
}
-->
</script>    
</body>
</html>

