<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>分享家管理系统-决策意见</title>
    <link rel="stylesheet" href="/static/share/css/index.css">
    <script type="text/javascript" src="/static/share/js/jquery-1.7.2.min.js"></script>
</head>

<body>
    <link rel="stylesheet" href="/static/share/css/index.css">
    <script type="text/javascript" src="/static/share/js/jquery-1.7.2.min.js"></script>

    <!-- pc端头部 begin -->
    <div class="header_pc">
        <div class="hdIn">
            <div class="logo"><img src="/static/share/images/logo_pc.png" alt="" width="100"></div>
            <div class="hdright">
                <ul>
                    <li class="home"><a href="{:url('index/Right/right')}" target='right'>首页</a></li>
                    <li class="home">{$Request.session.name}分享家欢迎您！ </li>
                    <li><a href="{:url('index/Touppwd/touppwd')}" target='right'>修改密码</a></li>
                    <li><a href="{:url('index/Right/logout')}" target='right'>退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- pc端头部 end -->


    <!-- 移动端头部 begin -->
    <div class="header_yidong">
        <a href="#" class="hyd_l"><img src="/static/share/images/logo_yd.png" alt=""></a>
        <a href="#" class="hyd_r"><img src="/static/share/images/logoyd_r.png" alt=""></a>

    </div>
    <!-- 移动端头部 end -->
    <!-- 奖扣 begin -->
    <div class="jiangkou">
        <div class="jkIn">
                <span class="title_list">电话核实</span>
           
            <input type="hidden" id="jiaorjian" value="0" title='用于判断是加分还是减分'>
            <a href="javascript:history.go(-1);" class="add home">返回</a>
        </div>
        <!-- 加分申请单 begin -->
        <div class="jiaTab">
            <form action="{:url('integraladd')}" method="post" onsubmit="return checkform_order()">
                
                {volist name="recommendlist" id="visit"  }       
               
               
                
                <div class="jt">
                       <span>意向购房者：</span>
                       <input type="text" id="linkman"  name="linkman"  class="editable-input" value="{$visit.linkman}"  >
                           
                   </div>
                   <div class="jt">
                       <span>电话：</span>
                       <input type="text" id="linkman_phone" name="linkman_phone"    class="editable-input" value="{$visit.linkman_phone}"  > 
                    
                      z
                   </div>
   
                   <div class="jt">
                       <span>置业顾问：</span>
                       <input type="text" id="linkman_agent" name="linkman_phone"    class="editable-input" value="{$visit.agent}" onfocus="inputFocus()">
                   </div>
                   <div class="jt">
                       <span>意向楼号：</span>
                       <input type="text" id="linkman_phone" name="linkman_building"    class="editable-input"  value="{$visit.building}号楼" onfocus="inputFocus()"> 
                   </div>
                   <div class="jt">
                       <span>意向单元：</span>        
                       <input type="text" id="linkman_phone" name="linkman_unit"    class="editable-input"  value="{$visit.unit}单元" onfocus="inputFocus()"> 
                   </div>
                   <div class="jt">
                       <span>意向楼层：</span>        
                       <input type="text" id="linkman_phone" name="linkman_floor"    class="editable-input" value="{$visit.floor}层" onfocus="inputFocus()"> 
                   </div>
                   <div class="jt">
                       <span>意向面积：</span>
                       <input type="text" id="linkman_phone" name="linkman_area"    class="editable-input" value="{$visit.area}平米" onfocus="inputFocus()"> 
                   
                   </div>
                   <div class="jt">
                           <span>用户等级：</span>
                           <input type="text" id="unitid" name="userlevelid"    class="editable-input" value="{$visit.category}"  onfocus="inputFocus()"> 
                        
                          
                       </div>
   
                  
   
                   {volist name="agent_info" id="agent"  }  
                   <div class="jt">
                       <span>回访描述：</span>
                       <textarea data-autosize-on="true" rows="3" id="content" name="content" onfocus="inputFocus()">{$agent.agent_say}</textarea>
                   </div>
                   {/volist} 
                   {volist name="admin_info" id="admin"  }  
                <div class="jt">
                    <span>经理描述：</span>
                    <textarea data-autosize-on="true" rows="3" id="content" name="content" onfocus="inputFocus()">{$admin.admin_say}</textarea>
                </div>
                   {/volist} 
        {/volist}
        </form>
        <!-- 加分申请单 end -->

    </div>
    <!-- 奖扣 begin -->

    <!--手机版的底部 begin-->
    <div class="web">
        <div class="webIn">
            <ul>
                <li>
                    <a href="{:url('index/Right/right')}">
                    <img src="/static/share/images/nav_01_h.png" alt="">
                    <p>首页</p>
                </a>
                </li>
                <li>
                    <a href="{:url('index/Agentidealist/agentidealist')}">
                    <img src="/static/share/images/nav_02_h.png" alt="">
                    <p>决策</p>
                    </a>
                    </li>
                    <li>
                    <a href="{:url('index/Agentlist/agentlist')}">
                    <img src="/static/share/images/nav_03_h.png" alt="" >
                    <p>查询</p>
                    </a>
                    </li>
                <li>
                    <a href="{:url('index/Userinfo/userinfo')}">
                    <img src="/static/share/images/nav_04_h.png" alt="" >
                    <p>个人信息</p>
                </a>
                </li>
                <li>
                    <a href="{:url('index/Right/logout')}">
                    <img src="/static/share/images/nav_05_h.png" alt="" >
                    <p>退出</p>
                </a>
                </li>
            </ul>
        </div>
    </div>
    <!--手机版的底部 end-->

    <!-- 版权 -->
    <div id="bb" style="text-align:center;">
        ©1guanli.com 版权所有 京ICP备13049583号-6
    </div>

    <!--cnzz统计代码-->
    <div style="display:none">
        <script language="JavaScript">
            if ({$Request.session.role} == "3") {
                $("#zhiwu").find("option")[1].remove();
            }

        </script>
    </div>
    <!--cnzz统计代码-->

    <!--禁止查看源代码-->
    <script>
        document.oncontextmenu = new Function("return false");
        //document.onselectstart=new Function("return false"); 
        event.ctrlKey = new Function("return false;");

//手机监听键盘事件

//平台、设备和操作系统
var system = {
            win: false,
            mac: false,
            xll: false
        };
        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        //跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
        if (system.win || system.mac || system.xll) {

        } else {
            var oldHeight = document.body.scrollHeight;
            $(window).resize(function () {
                var newHeight = document.body.scrollHeight;
                if (oldHeight < 600 && newHeight < 600) {
                    if (oldHeight == newHeight) {
                        $('.web').show();
                    }
                    else {
                        $('.web').hide();
                    }
                }
            });
        }

    //h5 wap 键盘遮挡input 框，解决方案
function inputFocus(){
	setTimeout(function(){  
        window.scrollTo(0,document.body.clientHeight);  
    }, 500); 
}


    </script>

</body>

</html>

<script type="text/javascript" src="/static/share/js/list.js"></script>
<script type="text/javascript" src="/static/share/script/qufenxiang.js"></script>
<script type="text/javascript" src="/static/share/script/integral_add.js"></script>
<script type="text/javascript">
    var parkjiaselect = "";
    var parkjianselect = "";

</script>