<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<title>分享家-房产分销系统</title>
	<link rel="stylesheet" href="/static/share/css/index.css">
	<script type="text/javascript" src="/static/share/js/jquery-1.7.2.min.js"></script>
</head>

<body>
	<link rel="stylesheet" href="/static/share/css/index.css">
	<script type="text/javascript" src="/static/share/js/jquery-1.7.2.min.js"></script>

	<!-- pc端头部 begin -->
	<div class="header_pc">
		<div class="hdIn">
			<div class="logo"><img src="/static/share/images/logo_pc.png" alt="" width="100"></div>
			<div class="hdright">
				<ul>
					<li class="home"><a href="{:url('index/Right/right')}" target='right'>首页</a></li>
					<li class="home"> {$Request.session.account} 分享家欢迎您！</li>
					<li><a href="{:url('index/Touppwd/touppwd')}" target='right'>修改密码</a></li>
					<li><a href="{:url('index/Right/logout')}" target='right'>退出</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- pc端头部 end -->


	<!-- 移动端头部 begin -->
	<div class="header_yidong">
		<a href="#" class="hyd_l"><img src="/static/share/images/logo_yd.png" alt=""></a>
		<a href="#" class="hyd_r"><img src="/static/share/images/logoyd_r.png" alt=""></a>

	</div>
	<!-- 移动端头部 end -->
	<!-- 轮播 begin -->
	<div id="slider" class="swipe">
		<div class="swipe-wrap">
			<!-- <figure>
      	        	<div class="wrap"><img src="/static/share/images/01.jpg"></div>
      	</figure> -->

			<figure>
				<div class="wrap"><img src="/static/share/images/02.jpg"></div>
			</figure>
		</div>

		<!--  <ol id="circle">
   	<li class="current"></li>
   	<li></li>
   </ol> -->
	</div>

	<!-- 轮播 end -->
	<!-- 幼儿园名称 begin -->
	<div class="yr_tilte">
		<h3>分享家介绍</h3>
		<!--<span>——{$Request.session.name}（{$Request.session.post}）</span>-->
	</div>
	<!-- 幼儿园名称 end -->

	<!-- 中间内容 begin -->
	<div class="con">
		<div class="title">分享家后台管理</div>
		<div class="explain">
		
					<section label="" style="width: 22rem;
					border:none;
					border-style:none;
					margin:0.5rem auto;" id="shifu_imi_015" donone="shifuMouseDownPayStyle(&#39;shifu_imi_015&#39;)">
						<section style="width: 100%;box-sizing: border-box;">
							<section style="text-align:right;height:5px;">
								<section style="width: 30px;height: 5px;background-color: rgb(30, 155, 232);display: inline-block;vertical-align: top;" class="ipaiban-bg"></section>
							</section>
							<section style="text-align:right;margin-top: -1px;">
								<section style="width: 30px;height: 25px;border-right: 5px solid rgb(30, 155, 232);display: inline-block;vertical-align: top;line-height: 0 !important;box-sizing: border-box;" class="ipaiban-brc"></section>
							</section>
							<section style="
					border: 1px solid rgb(200, 200, 200);
					padding: 13px;
					text-align: justify;
					letter-spacing: 2px;line-height: 25px;
					color: rgb(68, 68, 68);
					margin: -26px 5px;
					border-top-left-radius: 15px;
					border-bottom-right-radius: 15px;
					box-shadow: rgb(170, 170, 170) -3px 3px 8px;
					box-sizing: border-box;">
								<p style="font-size: 0.875rem; text-align: left;">
									悦城一期老业主您好！
								</p>
								<p style="font-size: 0.875rem; text-align: left;">
									&nbsp; &nbsp; &nbsp;欢迎您登陆分享家系统推荐意向购房客户。
								</p>
								<p style="font-size: 0.875rem; text-align: left;">
									您推荐的每一位意向客户，我们都将认真核实和跟进回访。对于推荐成功并成交的业主将有机会得到佣金奖励。请业主认真填写个人信息和客户信息。
								</p>
							</section>
							<section style="transform: rotate(0deg);-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);">
								<section style="width: 30px;height: 25px;border-left: 5px solid rgb(30, 155, 232);
					box-sizing: border-box;" class="ipaiban-blc"></section>
								<section style="width: 30px;height: 5px;
					background-color: rgb(30, 155, 232);" class="ipaiban-bg"></section>
							</section>
						</section>
					</section>
	

	
				



			
				<span style="font-size: 13px; text-align: center" >用户只需三步就可以参与分享家活动。</span>
			</br>
				
			<span style="font-size: 13px;">	1.首先用户完善个人信息。</span></br>
			<div class="swipe-wrap">
					<div class="wrap"><p style="text-align:center">
					<img src="/static/share/images/upload-ueditor-image-20180406-1523004591525045352.png" title="" alt="image.png" style="border: 10px solid rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 6px 0px;"/>
				</p></br></div>
			</div>
		
			
				<span style="font-size: 13px;">2.然后推荐意向购房客户。</span></br>
			<div class="swipe-wrap">
					<div class="wrap"><p style="text-align:center">
							<img src="/static/share/images/upload-ueditor-image-20180407-1523089547823058611.png" title="" alt="image.png" style="border: 10px solid rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 6px 0px;"/>
						</p></br></div>	
			</div>	
			
			
			<span style="font-size: 13px;">3.最后您可以随时查询推荐客户状态信息。</span></br>
			<div class="swipe-wrap">
				<div class="wrap"><p style="text-align:center">
					<img src="/static/share/images/upload-ueditor-image-20180407-1523089763584092059.png" title="" alt="image.png" style="border: 10px solid rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 6px 0px;"/>
				</p></br></div>
			</div>
			
			
		



		</div>
		<div class="conIn" id="conW">
				
				
			<ul>
					

				
			
				<li>
					<a href="{:url('index/Account/account')}?check=account">
					<img src="/static/share/images/wodesk.png" alt="" >
					<p>账号管理</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Recommend/recommend')}?check=recommend">
					<img src="/static/share/images/back.png" alt="" >
					<p>推荐管理</p>
				</a>
				</li>	

<!--

		        <li>
					<a href="{:url('index/Myintegral/myintegral')}">
					<img src="/static/share/images/wodejf.png" alt="">
					<p>账号管理</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Userinfo/userinfo')}">
					<img src="/static/share/images/wodezh.png" alt="" >
					<p>推荐管理</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Toaddintegral/toaddintegral')}">
					<img src="/static/share/images/jiangsq.png" alt="">
					<p>查询</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Applylist/applylist')}">
					<img src="/static/share/images/tianbiao.png" alt="" >
					<p>分享家说明</p>
				</a>
				</li>
				
				<li>
					<a href="{:url('index/Backmyintegral/backmyintegral')}" title="被驳回的记录">
					<img src="/static/share/images/backed.png" alt="">
					<p>被驳记录</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Details/details')}">
					<img src="/static/share/images/details.png" alt="" >
					<p>积分明细</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Waitverify/waitverify')}">
					<img src="/static/share/images/wait.png" alt="" >
					<p>等待审核</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Myverify/myverify')}">
					<img src="/static/share/images/wodesk.png" alt="" >
					<p>审核记录</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Myback/myback')}">
					<img src="/static/share/images/back.png" alt="" >
					<p>驳回记录</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Executelist/executelist')}">
					<img src="/static/share/images/jiangxd.png" alt="">
					<p>奖扣下达</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Ranking/ranking')}">
					<img src="/static/share/images/yuedu.png" alt="">
					<p>月度排名</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Totalranking/totalranking')}">
					<img src="/static/share/images/zongfen.png" alt="">
					<p>总分排名</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Teamrank/teamrank')}">
					<img src="/static/share/images/teamRank.png" alt="" >
					<p>团队排名</p>
				</a>
				</li>

				<li>
					<a href="{:url('index/Teamlist/teamlist')}">
					<img src="/static/share/images/team.png" alt="" >
					<p>团队管理</p>
				</a>
				</li>

				<li>
					<a href="{:url('index/Userlist/userlist')}">
					<img src="/static/share/images/laoshilb.png" alt="">
					<p>员工名单</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Delimitlist/delimitlist')}">
					<img src="/static/share/images/delimit.png" alt="" >
					<p>定义奖扣</p>
				</a>
				</li>
				<li style="display:none">
					<a href="{:url('noticeList')}">
					<img src="/static/share/images/notice.png" alt="" >
					<p>公告通知</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Setting/setting')}">
					<img src="/static/share/images/setting.png" alt="" >
					<p>系统设置</p>
				</a>
				</li>
			-->
			</ul>
		</div>
	</div>
	<!-- 中间内容 end -->

	<!-- notice begin 
<div class="notice">
	<div class="no_tupian"><img src="/static/share/images/notice_yidong.png" alt=""></div>
	<div class="no_title">
		<ul>
			<li><a href="#">我是公告文字我是公告文字1</a></li>
			<li><a href="#">我是公告文字我是公告文字2</a></li>
			<li><a href="#">我是公告文字我是公告文字3</a></li>
		</ul>
	</div>
	<a href="" class="no_more" target="_blank">更多</a>
</div>
 notice end -->

	<!--手机版的底部 begin-->
	<div class="web">
		<div class="webIn0">
			<ul>
				<li>
					<a href="{:url('index/Right/right')}">
                    <img src="/static/share/images/nav_01_h.png" alt="">
                    <p>首页</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Query/query')}">
                    <img src="/static/share/images/nav_02_h.png" alt="">
                    <p>查询</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Order/order')}">
                    <img src="/static/share/images/nav_03_h.png" alt="" >
                    <p>推荐</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Userinfo/userinfo')}">
                    <img src="/static/share/images/nav_04_h.png" alt="" >
                    <p>个人信息</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Right/logout')}">
                    <img src="/static/share/images/nav_05_h.png" alt="" >
                    <p>退出</p>
                </a>
				</li>
			</ul>
		</div>
		<div class="webIn1">
			<ul>
				<li>
					<a href="{:url('index/Verifylist/verifylist')}">
                    <img src="/static/share/images/nav_01_h.png" alt="">
                    <p>核实</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Visitlist/visitlist')}">
                    <img src="/static/share/images/nav_02_h.png" alt="">
                    <p>回访</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Receivelist/receivelist')}">
                    <img src="/static/share/images/nav_03_h.png" alt="" >
                    <p>查收</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Userinfo/userinfo')}">
                    <img src="/static/share/images/nav_04_h.png" alt="" >
                    <p>个人信息</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Right/logout')}">
                    <img src="/static/share/images/nav_05_h.png" alt="" >
                    <p>退出</p>
                </a>
				</li>
			</ul>
		</div>
		<div class="webIn2">
			<ul>
				<li>
					<a href="{:url('index/Right/right')}">
                    <img src="/static/share/images/nav_01_h.png" alt="">
                    <p>首页</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Agentidealist/agentidealist')}">
                    <img src="/static/share/images/nav_02_h.png" alt="">
                    <p>决策</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Agentlist/agentlist')}">
                    <img src="/static/share/images/nav_03_h.png" alt="" >
                    <p>查询</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Userinfo/userinfo')}">
                    <img src="/static/share/images/nav_04_h.png" alt="" >
                    <p>个人信息</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Right/logout')}">
                    <img src="/static/share/images/nav_05_h.png" alt="" >
                    <p>退出</p>
                </a>
				</li>
			</ul>
		</div>
	</div>
	<!--手机版的底部 end-->

	<!-- 版权 -->
	<div id="bb" style="text-align:center;">
		©1guanli.com 版权所有 京ICP备13049583号-6
	</div>

	<!--cnzz统计代码-->
	<div style="display:none">
		<script src="https://s4.cnzz.com/z_stat.php?id=1260562880&web_id=1260562880" language="JavaScript"></script>
	</div>
	<!--cnzz统计代码-->

	<!--禁止查看源代码-->
	<script>
		document.oncontextmenu = new Function("return false");
		//document.onselectstart=new Function("return false"); 
		event.ctrlKey = new Function("return false;");

//手机监听键盘事件

//平台、设备和操作系统
var system = {
			win: false,
			mac: false,
			xll: false
		};
		//检测平台
		var p = navigator.platform;
		system.win = p.indexOf("Win") == 0;
		system.mac = p.indexOf("Mac") == 0;
		system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
		//跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
		if (system.win || system.mac || system.xll) {

		} else {
			var oldHeight = document.body.scrollHeight;
			$(window).resize(function () {
				var newHeight = document.body.scrollHeight;
				if (oldHeight < 600 && newHeight < 600) {
					if (oldHeight == newHeight) {
					
						$('.web').show();
						
						
					}
					else {
						
						$('.web').hide();
						
					}
				}
			});
		}
		

	</script>

	<!-- 幻灯 begin -->
	<script type="text/javascript" src="/static/share/js/swipe.js"></script>
	<script type="text/javascript" src="/static/share/js/huandeng.js"></script>
	<!-- 幻灯 end -->
	<!-- noticejs begin -->
	<!-- <script type="text/javascript" src="/static/share/js/notice.js"></script> -->
</body>

</html>
<script type="text/javascript">
	var account="{$Request.session.account}";
	var role="{$Request.session.role}";
		
		
	if ( account  != "admin") {

		$("#conW").find("li")[0].remove();
		$("#conW").find("li")[0].remove();

		

	}


if(role == "2"){

	$(".webIn0").show();

	
}
else if(role =="1"){
	
	$(".webIn1").show();

}
else if(role =="0"){

	$(".webIn2").show();
}


	// $('#conW ul li:gt(1)').hide();
	function pcfun() {
		var conliL = $('#conW li').length;
		var conliLL = $('#conW li').length - 1;
		var conliW = $('#conW li').width();
		var conW = (conliW * conliL) + conliLL * 55;
		if (conliL > 9) {
			$('#conW').css('width', 1000 + 'px');
			$('#conW ul').css('width', 1100 + 'px');
		}
		else {
			$('#conW').css('width', conW + 'px');
			$('#conW ul').css('width', conW + 55 + 'px');
		}

	}
	if ($(window).width() > 999) {
		pcfun();
	}

</script>