<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>明德幼儿园积分管理系统-修改密码</title>
    <script type="text/javascript" src="/static/kindergarten/js/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" href="/static/kindergarten/css/login_q.css">
</head>
<body>
    
<!-- login div -->
<div class="login">
    <link rel="stylesheet" href="/static/kindergarten/css/index.css">
<script type="text/javascript" src="/static/kindergarten/js/jquery-1.7.2.min.js"></script>

<!-- pc端头部 begin -->
<div class="header_pc">
	<div class="hdIn">
		<div class="logo"><img src="/static/kindergarten/images/logo_pc.png" alt="" width="100"></div>
		<div class="hdright">
			<ul>
				<li class="home"><a href="./?c=index" target='right'>首页</a></li>
				<li class="home">欢迎您！河北省唐山市丰润区悦城明德幼儿园 王秀红</li>
				<li><a href="{:url('touppwd')}" target='right'>修改密码</a></li>
				<li><a href="./?c=index&a=logout" target='right'>退出</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- pc端头部 end -->


<!-- 移动端头部 begin -->
<div class="header_yidong">
	<a href="#" class="hyd_l"><img src="/static/kindergarten/images/logo_yd.png" alt=""></a>
	<a href="#" class="hyd_r"><img src="/static/kindergarten/images/logoyd_r.png" alt=""></a>

</div>
<!-- 移动端头部 end -->

    <div class="lgIn">
        <div class="title"></div>
        <form action="./?c=index&a=uppwd" method="post" id="form1" name="form1"  onsubmit="return xiugaisubmit()">
            <div class="form">
                <!-- 原密码 begin -->
                <div class="form-groud">
                    <div class="fgdIn">
                        <label for="oldpwd">原密码</label>
                        <input type="text" name="oldpwd" id="oldpwd" >
                    </div>
                    <span class='error'></span>
                </div>
                <!-- 原密码 end -->
                <!-- 新密码 begin -->
                <div class="form-groud">
                    <div class="fgdIn">
                        <label for="newpwd">新密码</label>
                        <input type="password" name="newpwd" id="newpwd">
                    </div>
                    <span class='error'></span>
                </div>
                <!-- 新密码 end -->

                <!-- 确定新密码 begin -->
                <div class="form-groud">
                    <div class="fgdIn">
                        <label for="renewpwd">确定密码</label>
                        <input type="password" name="renewpwd" id="renewpwd">
                    </div>
                    <span class='error'></span>
                </div>
                <!-- 确定新密码 end -->

                <!-- 验证码 begin -->
                <div class="form-groud form-groud1">
                    <div class="fgdIn fgdIn1">
                        <div class="fgIn">
                            <label for="yzm">验证码</label>
                            <input type="text" name="code" id="yzm">
                        </div>
                        <img class="form_Img" src="/static/kindergarten/szyzm/imggd1.php" name="yzm" id="yzm" onclick="this.src='/static/kindergarten/szyzm/imggd1.php?'+Math.random();" style="width:100px;height:40px" />
                    </div>
                    <span class='error'></span>
                </div>
                <!-- 验证码 end -->

                <!-- 登录 begin -->
                <div class="form-groud form-groud2">
                    <input class="sub shixiao" type="submit" value="确 定" id="Login" >
                </div>

            </div>
        </form>

    </div>
</div>
<!-- login div -->
<!--手机版的底部 begin-->
<div class="web">
    <div class="webIn">
        <ul>
            <li>
                <a href="./?c=index">
                    <img src="/static/kindergarten/images/nav_01_h.png" alt="">
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="./?c=ranking&a=ranking">
                    <img src="/static/kindergarten/images/nav_02_h.png" alt="">
                    <p>月度排行</p>
                </a>
            </li>
            <li>
                <a href="./?c=index&a=userlist">
                    <img src="/static/kindergarten/images/nav_03_h.png" alt="" >
                    <p>员工名单</p>
                </a>
            </li>
            <li>
                <a href="./?c=index&a=userinfo">
                    <img src="/static/kindergarten/images/nav_04_h.png" alt="" >
                    <p>个人信息</p>
                </a>
            </li>
            <li>
                <a href="./?c=index&a=logout">
                    <img src="/static/kindergarten/images/nav_05_h.png" alt="" >
                    <p>退出</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--手机版的底部 end-->

<!-- 版权 -->
<div id="bb" style="text-align:center;">
©1guanli.com 版权所有  京ICP备13049583号-6
</div>

<!--cnzz统计代码-->
<div style="display:none">
<script src="https://s4.cnzz.com/z_stat.php?id=1260562880&web_id=1260562880" language="JavaScript"></script>
</div>
<!--cnzz统计代码-->

<!--禁止查看源代码-->
<script> 
document.oncontextmenu=new Function("return false"); 
//document.onselectstart=new Function("return false"); 
event.ctrlKey = new Function("return false;");

//手机监听键盘事件
<!-- 
//平台、设备和操作系统
var system ={
win : false,
mac : false,
xll : false
};
//检测平台
var p = navigator.platform;
system.win = p.indexOf("Win") == 0;
system.mac = p.indexOf("Mac") == 0;
system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
//跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
if(system.win||system.mac||system.xll){
    
}else{
    var oldHeight = document.body.scrollHeight; 
    $(window).resize(function(){
        var newHeight = document.body.scrollHeight; 
        if(oldHeight<600 && newHeight<600)
        {
            if(oldHeight==newHeight)
            {
                $('.web').show();
            }
            else{
                $('.web').hide();
            }  
        }
    });
}
-->
</script>    
</body>
</html>
<script type="text/javascript" src="/static/kindergarten/js/login.js"></script>
