<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<title>道德银行积分管理系统-管理系统</title>
	<link rel="stylesheet" href="/static/moralbank/css/index.css">
	<script type="text/javascript" src="/static/moralbank/js/jquery-1.7.2.min.js"></script>
</head>

<body>
	<link rel="stylesheet" href="/static/moralbank/css/index.css">
	<script type="text/javascript" src="/static/moralbank/js/jquery-1.7.2.min.js"></script>

	<!-- pc端头部 begin -->
	<div class="header_pc">
		<div class="hdIn">
			<div class="logo"><img src="/static/moralbank/images/logo_pc.png" alt="" width="100"></div>
			<div class="hdright">
				<ul>
					<li class="home"><a href="{:url('index/Right/right')}" target='right'>首页</a></li>
					<li class="home">欢迎您！河北省唐山市丰润区悦城道德银行 {$Request.session.name}</li>
					<li><a href="{:url('index/Touppwd/touppwd')}" target='right'>修改密码</a></li>
					<li><a href="{:url('index/Right/logout')}" target='right'>退出</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- pc端头部 end -->


	<!-- 移动端头部 begin -->
	<div class="header_yidong">
		<a href="#" class="hyd_l"><img src="/static/moralbank/images/logo_yd.png" alt=""></a>
		<a href="#" class="hyd_r"><img src="/static/moralbank/images/logoyd_r.png" alt=""></a>

	</div>
	<!-- 移动端头部 end -->
	<!-- 轮播 begin -->
	<div id="slider" class="swipe">
		<div class="swipe-wrap">
			<!-- <figure>
      	        	<div class="wrap"><img src="/static/moralbank/images/01.jpg"></div>
      	</figure> -->

			<figure>
				<div class="wrap"><img src="/static/moralbank/images/02.jpg"></div>
			</figure>
		</div>

		<!--  <ol id="circle">
   	<li class="current"></li>
   	<li></li>
   </ol> -->
	</div>

	<!-- 轮播 end -->
	<!-- 幼儿园名称 begin -->
	<div class="yr_tilte">
		<h3>河北省唐山市丰润区悦城道德银行</h3>
		<span>——{$Request.session.name}（{$Request.session.post}）</span>
	</div>
	<!-- 幼儿园名称 end -->

	<!-- 中间内容 begin -->
	<div class="con">
		<div class="title">河北省唐山市丰润区悦城道德银行</div>
		<div class="conIn" id="conW">
			<ul>
				<li>
					<a href="{:url('index/Myintegral/myintegral')}">
					<img src="/static/moralbank/images/wodejf.png" alt="">
					<p>我的积分</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Userinfo/userinfo')}">
					<img src="/static/moralbank/images/wodezh.png" alt="" >
					<p>个人信息</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Toaddintegral/toaddintegral')}">
					<img src="/static/moralbank/images/jiangsq.png" alt="">
					<p>奖扣申请</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Applylist/applylist')}">
					<img src="/static/moralbank/images/tianbiao.png" alt="" >
					<p>待审记录</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Backmyintegral/backmyintegral')}" title="被驳回的记录">
					<img src="/static/moralbank/images/backed.png" alt="">
					<p>被驳记录</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Details/details')}">
					<img src="/static/moralbank/images/details.png" alt="" >
					<p>积分明细</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Waitverify/waitverify')}">
					<img src="/static/moralbank/images/wait.png" alt="" >
					<p>等待审核</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Myverify/myverify')}">
					<img src="/static/moralbank/images/wodesk.png" alt="" >
					<p>审核记录</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Myback/myback')}">
					<img src="/static/moralbank/images/back.png" alt="" >
					<p>驳回记录</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Executelist/executelist')}">
					<img src="/static/moralbank/images/jiangxd.png" alt="">
					<p>奖扣下达</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Ranking/ranking')}">
					<img src="/static/moralbank/images/yuedu.png" alt="">
					<p>月度排名</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Totalranking/totalranking')}">
					<img src="/static/moralbank/images/zongfen.png" alt="">
					<p>总分排名</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Teamrank/teamrank')}">
					<img src="/static/moralbank/images/teamRank.png" alt="" >
					<p>团队排名</p>
				</a>
				</li>

				<li>
					<a href="{:url('index/Teamlist/teamlist')}">
					<img src="/static/moralbank/images/team.png" alt="" >
					<p>团队管理</p>
				</a>
				</li>

				<li>
					<a href="{:url('index/Userlist/userlist')}">
					<img src="/static/moralbank/images/laoshilb.png" alt="">
					<p>员工名单</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Delimitlist/delimitlist')}">
					<img src="/static/moralbank/images/delimit.png" alt="" >
					<p>定义奖扣</p>
				</a>
				</li>
				<li style="display:none">
					<a href="{:url('noticeList')}">
					<img src="/static/moralbank/images/notice.png" alt="" >
					<p>公告通知</p>
				</a>
				</li>
				<li>
					<a href="{:url('index/Setting/setting')}">
					<img src="/static/moralbank/images/setting.png" alt="" >
					<p>系统设置</p>
				</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- 中间内容 end -->

	<!-- notice begin 
<div class="notice">
	<div class="no_tupian"><img src="/static/moralbank/images/notice_yidong.png" alt=""></div>
	<div class="no_title">
		<ul>
			<li><a href="#">我是公告文字我是公告文字1</a></li>
			<li><a href="#">我是公告文字我是公告文字2</a></li>
			<li><a href="#">我是公告文字我是公告文字3</a></li>
		</ul>
	</div>
	<a href="" class="no_more" target="_blank">更多</a>
</div>
 notice end -->

	<!--手机版的底部 begin-->
	<div class="web">
		<div class="webIn">
			<ul>
				<li>
					<a href="{:url('index/Right/right')}">
                    <img src="/static/moralbank/images/nav_01_h.png" alt="">
                    <p>首页</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Ranking/ranking')}">
                    <img src="/static/moralbank/images/nav_02_h.png" alt="">
                    <p>月度排行</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Userlist/userlist')}">
                    <img src="/static/moralbank/images/nav_03_h.png" alt="" >
                    <p>员工名单</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Userinfo/userinfo')}">
                    <img src="/static/moralbank/images/nav_04_h.png" alt="" >
                    <p>个人信息</p>
                </a>
				</li>
				<li>
					<a href="{:url('index/Right/logout')}">
                    <img src="/static/moralbank/images/nav_05_h.png" alt="" >
                    <p>退出</p>
                </a>
				</li>
			</ul>
		</div>
	</div>
	<!--手机版的底部 end-->

	<!-- 版权 -->
	<div id="bb" style="text-align:center;">
		©1guanli.com 版权所有 京ICP备13049583号-6
	</div>

	<!--cnzz统计代码-->
	<div style="display:none">
		<script src="https://s4.cnzz.com/z_stat.php?id=1260562880&web_id=1260562880" language="JavaScript"></script>
	</div>
	<!--cnzz统计代码-->

	<!--禁止查看源代码-->
	<script>
		document.oncontextmenu = new Function("return false");
		//document.onselectstart=new Function("return false"); 
		event.ctrlKey = new Function("return false;");

//手机监听键盘事件
<!--
//平台、设备和操作系统
var system = {
			win: false,
			mac: false,
			xll: false
		};
		//检测平台
		var p = navigator.platform;
		system.win = p.indexOf("Win") == 0;
		system.mac = p.indexOf("Mac") == 0;
		system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
		//跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
		if (system.win || system.mac || system.xll) {

		} else {
			var oldHeight = document.body.scrollHeight;
			$(window).resize(function () {
				var newHeight = document.body.scrollHeight;
				if (oldHeight < 600 && newHeight < 600) {
					if (oldHeight == newHeight) {
						$('.web').show();
					}
					else {
						$('.web').hide();
					}
				}
			});
		}
		-->

	</script>

	<!-- 幻灯 begin -->
	<script type="text/javascript" src="/static/moralbank/js/swipe.js"></script>
	<script type="text/javascript" src="/static/moralbank/js/huandeng.js"></script>
	<!-- 幻灯 end -->
	<!-- noticejs begin -->
	<!-- <script type="text/javascript" src="/static/moralbank/js/notice.js"></script> -->
</body>

</html>
<script type="text/javascript">
		alert({ $Request.session.role });
	if ({ $Request.session.role } == "1") {

		$("#conW").find("li")[0].remove();
		$("#conW").find("li")[1].remove();
		$("#conW").find("li")[1].remove();
		$("#conW").find("li")[1].remove();
		$("#conW").find("li")[1].remove();

	}
	else if ({ $Request.session.role } == "2") {
		$("#conW").find("li")[15].remove();
		$("#conW").find("li")[16].remove();
	}
	else if ({ $Request.session.role } == "3") {


		$("#conW").find("li")[6].remove();
		$("#conW").find("li")[6].remove();
		$("#conW").find("li")[6].remove();
		$("#conW").find("li")[6].remove();
		$("#conW").find("li")[11].remove();
		$("#conW").find("li")[12].remove();
		// $("#conW").find("li")[15].remove();
		// $("#conW").find("li")[16].remove();

	}


	// $('#conW ul li:gt(1)').hide();
	function pcfun() {
		var conliL = $('#conW li').length;
		var conliLL = $('#conW li').length - 1;
		var conliW = $('#conW li').width();
		var conW = (conliW * conliL) + conliLL * 55;
		if (conliL > 9) {
			$('#conW').css('width', 1000 + 'px');
			$('#conW ul').css('width', 1100 + 'px');
		}
		else {
			$('#conW').css('width', conW + 'px');
			$('#conW ul').css('width', conW + 55 + 'px');
		}

	}
	if ($(window).width() > 999) {
		pcfun();
	}

</script>