<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>分享家管理系统-未处理</title>
    <link rel="stylesheet" href="/static/share/css/index.css">
    <script type="text/javascript" src="/static/share/js/jquery-1.7.2.min.js"></script>
</head>

<body>
    <link rel="stylesheet" href="/static/share/css/index.css">
    <script type="text/javascript" src="/static/share/js/jquery-1.7.2.min.js"></script>

    <!-- pc端头部 begin -->
    <div class="header_pc">
        <div class="hdIn">
            <div class="logo"><img src="/static/share/images/logo_pc.png" alt="" width="100"></div>
            <div class="hdright">
                <ul>
                    <li class="home"><a href="{:url('index/Right/right')}" target='right'>首页</a></li>
                    <li class="home"> {$Request.session.name}，分享家欢迎您！</li>
                    <li><a href="{:url('index/Touppwd/touppwd')}" target='right'>修改密码</a></li>
                    <li><a href="{:url('index/Right/logout')}" target='right'>退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- pc端头部 end -->


    <!-- 移动端头部 begin -->
    <div class="header_yidong">
        <a href="#" class="hyd_l"><img src="/static/share/images/logo_yd.png" alt=""></a>
        <a href="#" class="hyd_r"><img src="/static/share/images/logoyd_r.png" alt=""></a>

    </div>
    <!-- 移动端头部 end -->
    <!-- 奖扣 begin -->
  <div class="jiangkou">
    <div class="listBtn">
        <div class="jkIn">
            <div class="listBtn">
                <h4>未处理</h4>
                
            </div>
        </div>
    </div>
        <!-- 加分申请单 begin -->
    <div class="list">
        <div class="listTab">
            <table id="tab" width="200" border="0" cellspacing="0" cellpadding="0">
                <tr class="tr01">
                    <td>编号</td>
                    <td>置业顾问</td>
                    <td>未处理</td>
                    <td>操作</td>
                    
                </tr>
                {volist name="checklist" id="check"  } 
                <tr class="tr0" id="tr{$t_check}">
                    <td align="center">{$t_check++}</td>
                    <td align="center"><a href="{:url('index/Idealist/idealist')}?agent={$check.account}">{$check.account}</a></td>
                    <td align="center"><a href="{:url('index/Idealist/idealist')}?agent={$check.account}">{$check.count_no}条</a></td>
                    <td align="center"><a href="{:url('index/Idealist/idealist')}?agent={$check.account}">查阅</a></td>
                 
                </tr>
                {/volist} 
        

            
               
               
            </table>
        </div>
    </div>    
        <!-- 加分申请单 end -->

 </div>
    <!-- 奖扣 begin -->

    <!--手机版的底部 begin-->
    <div class="web">
            <div class="webIn">
                <ul>
                    <li>
                        <a href="{:url('index/Right/right')}">
                        <img src="/static/share/images/nav_01_h.png" alt="">
                        <p>首页</p>
                    </a>
                    </li>
                    <li>
                        <a href="{:url('index/Agentidealist/agentidealist')}">
                        <img src="/static/share/images/nav_02_h.png" alt="">
                        <p>决策</p>
                    </a>
                    </li>
                    <li>
                        <a href="{:url('index/Agentlist/agentlist')}">
                        <img src="/static/share/images/nav_03_h.png" alt="" >
                        <p>查询</p>
                    </a>
                    </li>
                    <li>
                        <a href="{:url('index/Userinfo/userinfo')}">
                        <img src="/static/share/images/nav_04_h.png" alt="" >
                        <p>个人信息</p>
                    </a>
                    </li>
                    <li>
                        <a href="{:url('index/Right/logout')}">
                        <img src="/static/share/images/nav_05_h.png" alt="" >
                        <p>退出</p>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--手机版的底部 end-->

    <!-- 版权 -->
    <div id="bb" style="text-align:center;">
        ©1guanli.com 版权所有 京ICP备13049583号-6
    </div>

    <!--cnzz统计代码-->
    <div style="display:none">
        <script language="JavaScript">
            if ({ $Request.session.role } == "3") {
                $("#zhiwu").find("option")[1].remove();
            }

        </script>
    </div>
    <!--cnzz统计代码-->

    <!--禁止查看源代码-->
    <script>
        document.oncontextmenu = new Function("return false");
        //document.onselectstart=new Function("return false"); 
        event.ctrlKey = new Function("return false;");

//手机监听键盘事件
<!--
//平台、设备和操作系统
var system = {
            win: false,
            mac: false,
            xll: false
        };
        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        //跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
        if (system.win || system.mac || system.xll) {

        } else {
            var oldHeight = document.body.scrollHeight;
            $(window).resize(function () {
                var newHeight = document.body.scrollHeight;
                if (oldHeight < 600 && newHeight < 600) {
                    if (oldHeight == newHeight) {
                        $('.web').show();
                    }
                    else {
                        $('.web').hide();
                    }
                }
            });
        }
        -->

    </script>

</body>

</html>

<script type="text/javascript" src="/static/share/js/list.js"></script>
<script type="text/javascript" src="/static/share/script/qufenxiang.js"></script>
<script type="text/javascript" src="/static/share/script/integral_add.js"></script>
<script type="text/javascript">
//隐藏

    var parkjiaselect = "";
    var parkjianselect = "";

</script>